{% extends "base.html" %}
{% load i18n %}
 {% block content %}

   <div class="wrap">

      <h2>{% trans "Manage Comments"%}</h2><form action="" method="get">
      <div class="" style="padding:10px 5px 5px 5px"><span style='color:gray'> </span>
		&nbsp;&nbsp;

		<b>{% trans "Filter:"%}</b>
		<select name="cq">
		 <option value='author' {%ifequal cq 'author'%}selected{%endifequal%}>{% trans "Author"%}</option>
		 <option value='email' {%ifequal cq 'email'%}selected{%endifequal%}>Email</option>
		 <option value='ip' {%ifequal cq 'ip'%}selected{%endifequal%}>IP</option>
		</select>
		<input type="text" name="cv" value="{{cv}}"/>
		<input type="submit" value="{% trans "Do"%}"/>

	  </div></form>
<form action="" method="post" >
      <div class="clear"></div>

	   <div class="tablenav">
		  <div class="alignleft">
		  <input type="submit" class="button-secondary delete" name="deleteit" value="{% trans "Delete"%}"/>
		  </div>
		  <div class="alignright">
	        {% if pager.prev %}
			<div class="alignleft" style="margin-right:10px"><a href="/admin/comments?prev={{ pager.prev }}">{% trans "&laquo; prev"%}</a></div>
			{% endif %}

			{% if pager.next %}
			<div class="alignright"><a href="/admin/comments?next={{ pager.next }}">{%trans "next &raquo;"%}</a></div>
			{% endif %}
            <div> </div>
         </div>

		      <br class="clear"/>
	   </div>
	  <br class="clear"/>

	   <table class="widefat">
		<thead>
			<tr>
			<th class="check-column" scope="col"><input type="checkbox" onclick="$('input[name=checks]').attr('checked',this.checked);"/></th>
		<th>{% trans "Date"%}</th>	<th style="width: 15%;">{% trans "Author"%}</th><th>{%trans "Content"%}</th><th>{% trans "Email" %}</th><th>{% trans "IP" %}</th>	<th>{% trans "Entry"%}</th>	</tr>
			</thead>
			<tbody>
            {%for comment in comments%}
		<tr valign="middle" id="link-{{comment.key.id}}"><th class="check-column" scope="row"><input type="checkbox" value="{{comment.key.id}}" name="checks"/></th>
                           <td>{{comment.date}}</td>

                           <td><strong><a target="_blank" class="row-title" title='Edit "{{comment.weburl}}"' href="{{comment.weburl}}">{{comment.author}}</a></strong></td>
                            <td>{{comment.content}}</td>
                            <td>{{comment.email}}</td>
                             <td>{{comment.ip}}</td>
                            <td><a  target="_blank" href="{{blog.baseurl}}/{{comment.entry.get.link}}" >{{comment.entry.get.title}}</a></td>

        		</tr>
			{%endfor%}
			</tbody>
		</table>
</form>
   </div>

 {% endblock  %}