<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{{self.blog.title}}-{{entry.title}}
        </title>
                 <link rel="apple-touch-icon" href="/themes/{{ blog.theme_name }}/icon.png" />
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.css" />

        <link rel="stylesheet" href="/themes/{{ blog.theme_name }}/my.css" type="text/css" />
        <style>
            /* App custom styles */
        </style>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js">
        </script>
        <script src="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.js">
        </script>
    </head>
    <body>
        <div data-role="page" id="singlepage">
            <div data-theme="a" data-role="header">

                    <h3>
                        {{self.blog.title}}
                    </h3>
                    <a href="/" data-icon="home" data-iconpos="notext" data-direction="reverse">Home</a>
		            <a href="/do/mobile_more" data-icon="grid" data-iconpos="notext" data-rel="dialog" data-transition="fade">Search</a>
            </div>
            <div data-role="content">
               	<div class="post" id="post-{{ entry.id }}">
				<h2><a href="{{ entry.fullurl }}" rel="bookmark" title="Permanent Link to {{ entry.title }}">{{ entry.title }}</a></h2>
				<div class="greytext">{{ entry.date|datetz:"F jS, Y " }} </div>

				<div class="entry">
					{{ entry.content|safe }}
				</div>





			</div>




        </div>
    </body>
</html>