<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "DTD/xhtml1-transitional.dtd">
<html>
<head>
{%mf head%}
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<title>{% block title %} {{ blog.title}}{% endblock %}</title>
<link rel="stylesheet" href="/themes/{{ blog.theme_name }}/style.css" type="text/css" />
<link rel="alternate" type="application/atom+xml" title="{{ blog.title }}" href="{{ blog.feedurl }}" />
<link href="/static/wlwmanifest.xml" type="application/wlwmanifest+xml" rel="wlwmanifest"/>
<link rel="icon" type="image/ico" href="/favicon.ico">

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<link rel="pingback" href="/pingback" />
<script type="text/javascript" src="/static/js/jquery.cookie.js"></script>
{% block head_block %}{% endblock %}
{%endmf%}
</head>
<body>
<div id="gc-container">
<div id="langpref">
 <span style="background:#CC4444 none repeat scroll 0% 0%;color:white;padding:5px;">
 正在加载...
 </span>
</div>
<script>

    function loginp()
    {
       $.getJSON("/do/info_login", function(ret){
              if( ret.islogin)
              {
                html='<span style="color:gray;padding:0px 6px">你好，'+ret.name+'</span> <a href="{{self.logouturl}}"> 注销</a>';
                if (ret.isadmin)
                html+=' <a href="/admin">管理</a>';
                $('#langpref').html(html);


              }
              else
              {
			     $('#langpref').html('<a href="/admin"> 登录</a>');
   				 if(typeof(get_check_area)!='undefined')
                	get_check_area({{blog.comment_check_type}});
			  }
       });
    }
    loginp();



</script>
<div id="gc-header">
  <div id="logo"><a href="{{ blog.baseurl }}">

     <img src="/themes/{{ blog.theme_name }}/images/cleardot.gif" alt="xuming.net" id="gc-logo-img">

  </a></div>
  <div id="search">
<!-- Google CSE Search Box End -->

    <div id="searchForm" class="searchForm">
      <form action="{{ blog.baseurl }}/gsearch" id="cse-search-box" >
        <table class="gsc-search-box" cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td class="gsc-input">
              	 <input type="hidden" name="cx" value="011174782183950134202:hplznclaark" />
                 <input type="hidden" name="cof" value="FORID:10" />
                 <input type="text" class="gsc-input"  name="q" size="25" value="" />
              </td>
              <td class="gsc-search-button">

		             <input type="submit" name="sa" class="gsc-search-button"  value="搜索"/>


              </td>
            </tr>
            <tr>
              <td class="greytext">e.g. "python" or "徐明,xuming"</td>
            </tr>
          </tbody>
        </table>
      </form>
    </div> <!-- end searchForm -->

  </div> <!-- end search -->
</div> <!-- end gc-header -->

 <div id="codesiteContent">

<div id="gc-topnav">
  <h1></h1>

  <ul id="home" class="gc-topnav-tabs">
  	<li id="home_link" class="{%if ishome%}current_page_item{%else%}page_item{%endif%}">
      <a href="{{ blog.baseurl }}"  >首页</a>
    </li>
    {{self.m_list_pages}}
    {% block topmenu %}

    {% endblock %}
{%mf nav_menu%}
{%endmf%}
</ul>
</div>
<!-- end gc-topnav -->


 {% block content %}{{content}}{% endblock %}

</div> <!-- end codesite content -->

<div id="gc-footer" dir="ltr">
  <div id="gc-footer-img"></div>
  <div class="text" >
  	<div style="margin-bottom:6px;">
  		&copy;2008 <a href="http://xuming.net">徐明的博客</a> Powered by <a href="http://code.google.com/appengine/" rel="nofollow">Google App Engine</a>

  	</div>
  	<div>
        除非另有声明，本站文章采用 <a rel="license" href="http://creativecommons.org/licenses/by-nc/2.5/cn/"  rel="nofollow">知识共享署名-非商业性使用 2.5 中国大陆许可协议</a> 进行许可。
    </div>
  </div>
</div><!-- end gc-footer -->
{%mf footer%}
{%endmf%}
</div><!-- end gc-containter -->
</body>
</html>