		<li id="comment-{{comment.key.id}}">
			<div class="gravatar"><img height="50" width="50" class="avatar avatar-50" src="{{comment.gravatar_url}}" alt=""/></div>
     <div class="comments">
     				{%if comment.weburl %}
			<a href="{{comment.weburl}}" target="_blank">{{comment.author}}</a>
			{% else %}{{comment.author}}{%endif%}
			 On <small class="commentmetadata"><a href="#comment-{{comment.key.id}}" title="">{{comment.date.date|datetz:"Y-m-d"}} at {{comment.date|datetz:"H:i"}}</a> </small>

			<br />

			<p>{{comment.content}}</p>

			</div>
			<div style="clear:both"></div>


		</li>