

	<h3 id="comments" {% if not entry.comments.count%} style="display:none"{%endif%}>&#8220;{{entry.title}}&#8221; 共有<span style='color:red;font-weight:bold;padding:0px 3px'>{{entry.comments.count}}</span>条留言   </h3>

	<ul id="commentlist" class="commentlist">

	{% for comment in comments %}

		<li class="{%cycle alt1,alt %}" id="comment-{{comment.key.id}}">


			<div class="gravatar add" title="回复{{comment.author}}" onclick="return backcomment('{{comment.author}}',{{comment.key.id}});" style="cursor: pointer;"><img height="50" width="50" class="avatar avatar-50" src="{{comment.gravatar_url}}" alt=""/></div>
     <div class="comments">
     				{%if comment.weburl %}
			<a href="{{comment.weburl}}" target="_blank">{{comment.author}}</a>
			{% else %}{{comment.author}}{%endif%}
			 On <small class="commentmetadata"><a href="#comment-{{comment.key.id}}" title="">{{comment.date|datetz:"Y-m-d"}} at {{comment.date|datetz:"H:i"}}</a> </small>

			<br />

			<p>{{comment.content}}</p>

			</div>
			<div style="clear:both"></div>


		</li>

	{% endfor %}

	</ul>
<div id="commentsnavi">
{{comments_nav.nav}}
</div>
<input type="hidden" value="{{blog.comment_check_type}}" id="check_type"/>
<h3 id="respond">我要留言</h3>
{% if entry.allow_comment %}
<div class="info" id="comment_info"></div>
<form action="/post_comment" method="post" id="commentform">

<div id="comment_area">
<p><input type="text" name="author" id="author"  size="25" tabindex="1" />
<label for="author">名字(name) <span style='color:red'>*</span></label></p>

<p><input type="text" name="email" id="email"  size="25" tabindex="2" />
<label for="email">邮件(email) <span style='color:red'>*</span></label></p>

<p><input type="text" name="url" id="url"  size="25" tabindex="3" />
<label for="url">博客/网站(web/blog)</label></p>
<p id="checkarea" style='display:none'>
 验证码：<span id="check"></span>
<input type="text" name="checkret" id="checkret" value="" size="5" tabindex="4" />
</p>



</div>

<p><textarea name="comment" id="comment" style="width:96%"  rows="10" tabindex="4"></textarea></p>
<div id="s_msg" style="display:none;color:red">正在提交留言...</div>
<p><input name="submit" type="submit" id="submit" tabindex="5" value="提交留言" />
<input type="hidden" name="key" value="{{entry.key}}" />
<input type="hidden" name="useajax" value="1" />
</p>
</form>

 <script>


</script>

{% else %}
<p class="nocomments">评论已关闭</p>
{% endif %}