{% extends "base.html" %}
{% block content %}
<p><img src="http://lh5.ggpht.com/coolchyni/SLaegDmOrmI/AAAAAAAAAVY/b2oNKWNR64I/032.jpg?imgmax=512"> </p>
<style type="text/css">
  #goog-wm { }
  #goog-wm h3.closest-match { }
  #goog-wm h3.closest-match a { }
  #goog-wm h3.other-things { }
  #goog-wm ul li { }
  #goog-wm li.search-goog { display: block; }
</style>
<script type="text/javascript">
  var GOOG_FIXURL_LANG = 'zh_CN';
  var GOOG_FIXURL_SITE = 'http://xuming.net/';
</script>
<script type="text/javascript" 
    src="http://linkhelp.clients.google.com/tbproxy/lh/wm/fixurl.js"></script>
{% endblock %}