<div class="g-c-gc-home" id="rightbar">
<div>
<div  class="rsstop" ><a href="{{ blog.feedurl }}"> 订阅 - 徐明的博客</a></div>
<div class="rsspanel">
  <div style="padding:0.2em">
  <div style="display:none">
   <span class="fg-subscribe" style="padding-right:20px"><a href="{{ blog.feedurl }}"><img alt="Subscribe" src="/themes/{{blog.theme_name}}/images/cleardot.gif"/></a><a href="{{ blog.feedurl }}" style="padding-left:5px;color:#BB4900;text-decoration:none">FeedBurner</a> </span>
<span class="fg-subscribe"  ><a href="http://feed.feedsky/xuming"><img alt="Subscribe" src="/themes/{{blog.theme_name}}/images/cleardot.gif"/></a><a href="http://feed.feedsky.com/xuming" style="padding-left:5px;color:#BB4900;text-decoration:none">FeedSky</a> </span>
  </div>


 </div>


<!-- FEED  begin -->
<a href="http://fusion.google.com/add?feedurl={{ blog.feedurl }}" target="_blank"><img border="0" src="http://img.feedsky.com/images/icon_subshot01_google.gif" alt="google reader" vspace="2" style="margin-bottom:3px" ></a>
<a href="http://www.zhuaxia.com/add_channel.php?url={{ blog.feedurl }}" target="_blank"><img border="0" src="http://img.feedsky.com/images/icon_subshot01_zhuaxia.gif" alt="&#25235;&#34430;" vspace="2" style="margin-bottom:3px" ></a><br />
<a href="http://www.bloglines.com/sub/{{ blog.feedurl }}" target="_blank"><img border="0" src="http://img.feedsky.com/images/icon_subshot01_bloglines.gif" alt="bloglines" vspace="2" style="margin-bottom:3px" ></a>
<a href="http://add.my.yahoo.com/rss?url={{ blog.feedurl }}" target="_blank"><img border="0" src="http://img.feedsky.com/images/icon_subshot01_yahoo.gif" alt="my yahoo" vspace="2" style="margin-bottom:3px" ></a><br />
<a href="http://inezha.com/add?url={{ blog.feedurl }}" target="_blank"><img border="0" src="http://img.feedsky.com/images/icon_subshot01_nazha.gif" alt="&#21738;&#21522;" vspace="2" style="margin-bottom:3px" ></a>
<a href="http://www.xianguo.com/subscribe.php?url={{ blog.feedurl }}" target="_blank"><img border="0" src="http://img.feedsky.com/images/icon_subshot01_xianguo.gif" alt="&#40092;&#26524;" vspace="2" style="margin-bottom:3px" ></a><br />
<!-- FEED end -->

<div style="padding:5px 0px">* 更多订阅本站方式请看 <a href="/rsshelp">订阅帮助</a></div>
</div>
</div>


<ul id="sidebar">
<li>
	<div id="blog-notice" class="line"></div>
    <h2>博客公告</h2>
    <ul>
		{{blog.blognotice}}
	</ul>

</li>

<li>
	<div id="hot-posts" class="line"></div>
    <h2>热门文章</h2>
    <ul>
        {% for entry in blog.hotposts %}
		<li><a href="/{{entry.link|escape}}" title="{{entry.title|escape}}">{{entry.title|escape}}({{entry.readtimes}})</a></li>
        {%endfor%}
	</ul>

</li>
<li>
<div class="line"></div>
    <h2>最近评论</h2>
        <ul>
        {% for comment in recent_comments %}
        <li><a href="/{{comment.entry.link}}#comment-{{comment.key.id}}">{{comment.author}}:</a> {{comment.shortcontent}}...</li>
        {%endfor%}
        </ul>
</li>
<li>
	<div id="recent-posts-2" class="line"></div>
    <h2>最近文章</h2>
    <ul>
        {% for entry in blog.recentposts %}
		<li><a href="/{{entry.link|escape}}" title="{{entry.title|escape}}">{{entry.title|escape}}({{entry.readtimes}})</a></li>
        {%endfor%}
	</ul>

</li>

<li>
  <div class="line"></div>
 <h2>分类杂谈</h2>
  <ul>
 	{%for cate in categories%}
  <li>	<a href="/category/{{cate.slug}}">{{cate.name}}</a>({{cate.count}})</li>
 	{%endfor%}
 	</ul>

</li>
    <li>


<div class="line"></div>
<h2>标签</h2>
{% for t in alltags %}
<a title="{{ t.tagcount }} pages" href="/tag/{{t.tag|urlencode}}"><span style='font-size:{{ t.tagcount|add:9 }}px;'>{{t.tag}}</span></a>
{%endfor%}
</li>
<li>
<div class="line"></div>
	<h2>归档</h2>
		<ul>
		{%for archive in archives%}
		<li><a href="/{{archive.year}}/{{archive.month}}">{{archive.year}}年{{archive.month}}月({{archive.entrycount}})</a></li>
		{%endfor%}
		</ul>
</li>
<li>
<div class="line"></div>
<h2>友情链接</h2>
<ul>
{%for link in blogroll%}
<li><a href="{{link.href}}">{{link.linktext}}</a></li>
{%endfor%}

</ul>
</li>
</ul>


        </div>




