{% extends "base.html" %}
{% block title %} {{entry.title}} - {{blog.title}} {% endblock %}
{% block head_block %}
{% if entry %}
{%if entry.strtags%}<meta name="Keywords" content="{{entry.strtags}}">{%endif%}
{%if entry.excerpt%} <meta name="Description" content="{{entry.excerpt}}">{%endif%}

{% endif %}
<script type="text/javascript" src="/themes/{{ blog.theme_name }}/comment.js"></script>
<script src="/static/js/jquery.form.utf8.js"></script>
{% endblock %}
{% block content %}

  <div id="gc-home">
    <div class="g-section g-tpl-330-alt">
<div class="g-unit">
<div class="g-c-gc-home">
<div class="post_nav">
<div style="float:right;height:10px">
{%for next in entry.next%}
<a href="/{{next.link}}">{{next.title}}»</a>
{%endfor%}
</div>
<div style="float:left">
{%for prev in entry.prev%}
<a href="/{{prev.link}}">«{{prev.title}}</a>
{%endfor%}
</div>

</div>
<div style="clear:both"></div>
{% if entry %}
			<div class="post" id="post-{{ entry.id }}">
				<h2><a href="/{{ entry.link }}" rel="bookmark" title="Permanent Link to {{ entry.title }}">{{ entry.title }}</a></h2>
				<div class="greytext">{{ entry.date|datetz:"F jS, Y " }} </div>

				<div class="entry">
					{{ entry.content }}
				</div>
				{%if relateposts%}
                <h4>相关阅读：</h4>
                  <ul>
                {%for post in relateposts%}
                  <li><a href="/{{post.link}}">{{post.title}}</a></li>
                {%endfor%}
                </ul>
                {%endif%}


				<p class="postmetadata">{% if entry.tags%}关键字: {%for tag in entry.tags%}<a href="/tag/{{tag|urlencode}}">{{tag}}</a> {%endfor%}{%endif%} </p>
			</div>
				{% include "comments.html" %}
                <div id="comment_area">

                </div>

{% else %}
 <p>Sorry, no posts matched your criteria.</p>
{% endif %}









      </div><!-- end g-c-gc-home -->
    </div><!-- end g-unit -->
 <div class="g-unit g-first">
 	 {{ blog.theme }}
      	{% include "sidebar.html" %}

      </div>
  </div><!-- end g-section -->




</div><!-- end gc-home -->






{% endblock %}