{% if entry.comments.count%}
	<h3 id="comments">&#8220;{{entry.title}}&#8221; 共有<span style='color:red;font-weight:bold;padding:0px 3px'>{{entry.comments.count}}</span>条相关评论   </h3>

	<ol class="commentlist">

	{% for comment in entry.comments %}

		<li id="comment-{{comment.key.id}}">
			<?php echo get_avatar( $comment, 32 ); ?>
			<cite>
			{%if comment.weburl %}
			<a href="{{comment.weburl}}" target="_blank">{{comment.author}}</a>
			{% else %}{{comment.author}}{%endif%}
			</cite> 说:
			

			<small class="commentmetadata"><a href="#comment-<?php comment_ID() ?>" title=""><?php comment_date('Y-m-d  H:i') ?> </a> <?php edit_comment_link('编辑','&nbsp;&nbsp;',''); ?></small>

			{{comment.content}}

		</li>

	<?php
		/* Changes every other comment to a different class */
		$oddcomment = ( empty( $oddcomment ) ) ? 'class="alt" ' : '';
	?>

	{% endfor %}

	</ol>

{% endif %}
 
<h3 id="respond">我要留言</h3>
<form action="/post_comment" method="post" id="commentform">

{%if self.is_admin%}
{%else%}
<p><input type="text" name="author" id="author" value="{{user_name}}" size="22" tabindex="1" />
<label for="author">名字(name) <span style='color:red'>*</span></label></p>

<p><input type="text" name="email" id="email" value="{{user_email}}" size="22" tabindex="2" />
<label for="email">邮件(email) <span style='color:red'>*</span></label></p>

<p><input type="text" name="url" id="url" value="{{user_url}}" size="22" tabindex="3" />
<label for="url">博客/网站(web/blog)</label></p>

{%endif%}

<!--<p><small><strong>XHTML:</strong> You can use these tags: <code><?php echo allowed_tags(); ?></code></small></p>-->

<p><textarea name="comment" id="comment" style="width:96%"  rows="10" tabindex="4"></textarea></p>

<p><input name="submit" type="submit" id="submit" tabindex="5" value="提交留言" />
<input type="hidden" name="key" value="{{entry.key}}" />
</p>

  





</form>


