{% extends "base.html" %}
{% block title %} {{entry.title}} - {{blog.title}} {% endblock %}
{% block content%}

<div class="ctop"></div>
<div class="box">

{% if entry %}

<div id="post-{{entry.key}}">
<div class="nifty"><h2><a href="/{{ entry.link }}" rel="bookmark" title="Permanent Link to {{entry.title}}">{{entry.title}}</a> <span class="date">{{entry.date|datetz:"F jS, Y"}}</span></h2></div>
<div class="en_body">
{%mf entry_content %}
{{ entry.content }}
{%endmf%}
{%mf after_entry_content%}
	{%if relateposts%}
                <h4>Relate Posts:</h4>
                  <ul>
                {%for post in relateposts%}
                  <li><a href="/{{post.link}}">{{post.title}}</a></li>
                {%endfor%}
                </ul>
                {%endif%}
</div>
<div class="meta">
{% if entry.strtags %}Tags: {%for tag in entry.tags%}<a href="/tag/{{tag|urlencode}}">{{tag}}</a> {%endfor%}<br><br>{%endif%}  Posted in {%for cate in entry.categories%} <a href="/category/{{cate.slug}}">{{cate.name}}</a> {%endfor%} | {%if self.is_admin%}<a href="{{entry.edit_url}}">Edit</a>  {%endif%}
{%if blog.allow_trackback and entry.allow_trackback%}
<div style="padding:2px 0">
Trackback:<a href='{{entry.trackbackurl}}'>{{entry.trackbackurl}}</a>
</div>
{%endif%}
</div>
{%endmf%}
</div>
</div>
<div class="cbottom"></div>
<div class="space"></div>


<div class="ctop"></div>
<div class="box">
{% include "comments.html" %}
</div>
<div class="cbottom"></div>
<div class="space"></div>

{%endif%}
</div>
{% include "sidebar.html" %}
{% endblock %}